.logo_mobile {
    display: none;
}

.about {
    position: relative;
    width: 100%;
    height: 45vh;
    background-image: url(../assets/aboutbg.png);
    background-position: center;
    background-size: cover;
}

.quote {
    margin: auto;
    display: block;
    
}