/* Home section */
.phoneimg_mobile, .subtext_mobile, hr, .logo_mobile {
    display: none;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/bg.png);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.home img {
    position: absolute;
}

.phoneimg {
    height: 75vh;
    right: 0;
    bottom: 0;
}

.subtext {
    left: 0;
    height: 45vh;
    bottom: 0;
}

.sobre, .contato {
    margin-top: 6vh;
    position: relative;
    height: 65vh;
    margin-bottom: 4vh;
}

.phoenixtxt, .contatoimg {
    width: 50vw;
    height: 90%;
    position: absolute;
    left: 0;
}

.phoeniximg, .contatotxt {
    width: 50vw;
    height: 90%;
    position: absolute;
    right: 0;
}

.imgleft, .imgright {
    background: url(../assets/contact.png);
    right: 10%;
    position: absolute;
    width: 37vw;
    min-height: 100%;
    right: 2vw;
    background-position: center;
    background-size: cover;
    border-radius: 19px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
}

.imgright {
    left: 2vw;
    background: url(../assets/AboutMobile.jpg);
    background-position: center;
    background-size: cover;
}

.myH2 {
    font-style: italic;
    text-align: right;
    font-size: 2vw;
    color: #4B585C;
    padding-left: 15%;
    padding-right: 4%;
    margin: 0;
    padding-top: 2%;
}

.myH1 {
    font-style: italic;
    text-align: left;
    font-size: 2.3vw;
    color: #4B585C;
    padding-left: 4%;
    padding-right: 15%;
    margin: 0;
    padding-top: 2%;
}

.myBanner {
    font-weight: normal;
    font-style: italic;
    font-size: 1.8vw;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.myP {
    text-align: right;
    padding-left: 20%;
    padding-right: 4%;
    font-size: 1.1vw;
    line-height: 4vh;
    color: #727F84;
}

.contatoitem{
    text-align: left;
    padding-left: 4%;
    padding-right: 20%;
    font-size: 1.5vw;
    line-height: 4vw;
    color: #727F84;
}

.ico {
    height: 6vh;
    transform: translateY(30%);
    padding-right: 1vh;
}

.desenvolvedoras {
    display: inline-block;
    margin-top: 5vh;
    width: 100%;
    height: 60vh;
    background-color: #c1e0f7;
    position: relative;
    margin-bottom: 3vh;
    text-align: -webkit-center;
}

.beiradinha {
    height: 4vh;
    width: 100%;
    background-color: white;
    top: 0;
    position: absolute;
}

.banner {
    z-index: 10;
    height: 8vh;
    width: 40vw;
    background-color: #ffcc29;
    position: relative;
    display: inline-block;
    border-radius: 15px;
}

.note {
    font-size: 1.5vh;
    color: #5B6568;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 1vh;
}

.idcard {
    display: flex;
    padding: 5vh;

}

.idtext{
    padding: 5vh;
}

.devs{
display: flex;
align-content: center;
width: fit-content;
}
.socialmediaright{
    display: flex;
    float: right;
}

.socialmedialeft{
    display: flex;
    float: left;
}

.smico{
    height: 6vh;
    padding: 1vh;
}

.dev {
    width: 18vw;
    height: 18vw;
}

.devtext {
    font-size: 2vw;
    color: #727F84;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0;
}

.premios{
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-top: 6vh;
    margin-bottom: 10vh;
}

.premiaçoes{
    width: 80vw;
}

.premiaçoes_mobile{
    display: none;
}