
@media (max-width: 1024px) and (orientation: portrait) {
    .subtext, .nav{
        display: none;
    }

    .logo_mobile{
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 0;
        height: 9vh;
    }

    .logo_mobile .navimg{
        right: unset;
        top: unset;
        margin: 0;
        height: -webkit-fill-available;
    }

    .phoneimg {
        width: 100vw;
        height: unset;
        bottom: 0;
    }

    .subtext_mobile {
        display: flex;
        top: 15vh;
        width: 60vw;
        left: 50%;
        transform: translate(-50%);
    }

    .sobre{
        height: min-content;
    }

    .phoeniximg {
        width: 100vw;
        height: 30vh;
        position: relative;
        text-align: center;
    }

    .phoenixtxt {
        width: fit-content;
        position: relative;
        padding-top: 3vh;
        padding: 5vh;
        height: fit-content;
    }

    .myH2{
        font-size: 6vw;
        text-align: center;
        padding: 0;    
    }

    .myP{
        text-align: justify;
        font-size: 2.5vw;
    line-height: 4vh;
        padding: 2vh;
        margin: 0;
}

    .imgright {
        left: 0;
        right: 0;
        position: relative;
        width: 85vw;
        display: inline-block;
    }

    .devtext {
        font-size: 5vw;
        margin-bottom: 1vh;
    }

    .smico {
        height: 4vh;
        padding: 0.5vh;
    }

    .dev {
        width: 35vw;
        height: 35vw;
    }

    .banner {
        width: 85vw;
        height: 7vh;
    }

    .myBanner{
        font-size: 5vw;
    }

    .idtext {
        padding: 2vh;
    }

    .devs{
        display: contents;

    }

    .desenvolvedoras{
        position: relative;
        height: fit-content;
    }

    .note{
        width: 80vw;
        position: relative;
        left: unset;
        transform: unset;
        font-size: 2vh;
    }

    .idcard {
        padding: 2vh;
        justify-content: center;
    }

    .premiaçoes{
        display: none;
    }
    
    .premiaçoes_mobile{
        position: relative;
        width: 60vw;
        display: inline;
    }

    .contatoimg {
        display: none;
    }

    .contato{
        height: min-content;
    }

    .contatotxt {
        width: 100vw;
        height: min-content;
        position: relative;
        margin-top: 2vh;
        margin-bottom: 4vh;
    }
    .myH1 {
        font-style: italic;
        text-align: center;
        font-size: 6vw;
        padding-left: 5%;
        padding-right: 5%;
    }

    hr{
        display: flex;
        width: 80vw;
    }
    .contatoitem {
        text-align: left;
        padding-left: 8%;
        padding-right: 8%;
        font-size: 3vw;
        line-height: 8vw;
    }
}




@media (max-width: 600px) and (orientation: portrait) {
    .phoneimg {
        display: none;
    }
    .home {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-image: url(../assets/bgmobile.png);
        background-position: center top;
        background-size: cover;
        background-attachment: fixed;
    }
      
    .phoneimg_mobile {
        display: flex;
        width: 100vw;
        bottom: 0;
    }

    .subtext_mobile {
        top: 11vh;
        width: 80vw;
    }
    
    .note{
        font-size: 3.5vw;
    }

    .sobre{
        height: min-content;
    }
    .phoeniximg {
        height: 20vh;
    }
    .phoenixtxt {
        padding-top: 3vh;
        padding: 2vh;
    }

    .myP{
        font-size: 4vw;
        padding: 2vh;
    }

    .imgright {
        width: 90vw;
    }
    
    .premiaçoes_mobile{
        width: 80vw;
    }

    .contatoitem {
        padding-left: 6%;
        padding-right: 6%;
        
    }

}   

@media (max-width: 350px) and (orientation: portrait) {
    .subtext_mobile {
        top: 11vh;
        width: 70vw;
    }
}